@import "base";

html{
    margin: 0;
    padding: 0;
    height: 100%;

    body{
        height: 100%;
    }
}

textarea {
    resize: none;
    height: 2em;
    width: 100%;
    font-size: $bigger !important;
    font-family: "Consolas";

    &:focus {
        background: $white;
    }
}

.pr_seq, .rt_seq {
    //width: 50%;
    word-wrap: break-word;
    overflow: hidden;
}

.import-data {
    font-family: "Consolas";
    padding-top: 5px;
    border: 1px solid $white;
    max-height: 6em;
    overflow: hidden;
    margin-left: -10px;
    font-size: $big;
    &:hover {
        background: #ccc;
        color: $black;
    }
    text-align: center;

    div {
        
    }
}

.label-stt {
    font-size: $big;
    display: inline-block;
    text-align: left;
}

.alert-data {
    background: #e51c23;
    color: $white;
}

.safe-data {
    background: #b2dfdb;
    //color: $white;
}

.chart-div {
    height: 500px;
}

.title-data {
    text-align: center;
    font-size: $big;
    padding-top: 5px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: -10px;
}

.nucle {
    font-size: $bigger;
    line-height: 1.3em;
    max-width: 100%;
    word-wrap: break-word;
    padding: 13px;
    letter-spacing: 0px;
    background: #111;
    color: $white;
}

.nu-a {
    color: #f69988;
    padding-left: 4px;
    padding-right: 4px;
}

.nu-c {
    color: #bcaaa4;
    padding-left: 4px;
    padding-right: 4px;
}

.nu-t {
    color: #4fc3f7;
    padding-left: 4px;
    padding-right: 4px;
}

.nu-g {
    color: #a3e9a4;
    padding-left: 4px;
    padding-right: 4px;
}




.jumpotron {
    text-align: center;
    font-family: $font-primary;
    display: block;
    background: url(../images/login-background.jpg);
    background-size: cover;
    color: $white;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    padding-top: 75px;
    
    @media (max-width: 1000px) {
        padding-top: 125px;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    a {
        font-weight: 300;
        color: $white;
    }
}

.mashead-links {
    list-style: none outside none;
    margin: 0;
    padding-left: 0;

    li {
        color: $white-quarter;
    }
}

.home-sub-link {
    font-size: $big;
    padding-bottom: 40px;
    padding-top: 60px;
}


#have-claim-code {
    margin-top: 60px;
}

.claim-code-input {
    @extend .font-default;
    font-weight: 300;
    width: 280px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: $bigger;
    color: $dark-gray;
}

#claim-code-wrapper {
    z-index: 2;
}